@model IEnumerable<form>
<table class="table">
    <thead>
    <th> @Html.DisplayNameFor(model =>model.Name) </th>
    <th> @Html.DisplayNameFor(model =>model.Email) </th>
    <th> @Html.DisplayNameFor(model =>model.Phone_No) </th>
    <th> @Html.DisplayNameFor(model =>model.City) </th>
    <th> @Html.DisplayNameFor(model =>model.State) </th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(model =>item.Name) </td>
                <td> @Html.DisplayFor(model =>item.Email) </td>
                <td> @Html.DisplayFor(model =>item.Phone_No) </td>
                <td> @Html.DisplayFor(model =>item.City) </td>
                <td> @Html.DisplayFor(model =>item.State) </td>
                <td><a asp-action="getResult" asp-route-id="@item.Id">Edit</a></td>
                <td><form asp-action="DeleteConfirmed" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this record?');">
                    <button type="submit">Delete</button>
                </form></td>

            </tr>
        }
    </tbody>

</table>